


/* .bottonStart{
    background-image: url('./image/startImage.png');
    background-size: 100%;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottonStart #start{
    width: 350px;
} */
/* 
.bottonRestart{
    background-image: url('./image/gameOver.png');
    background-size: 100%;
    height: 850px;
    width: 1400;

}
.bottonRestart #restart{
    width: 350px;

} */